@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:wght@400;500;600;700;800;900&display=swap');

body{
    background: black;
}


.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.4fr;
    grid-template-rows: 200px 1150px;
    gap: 1px 1px;
    grid-template-areas:
      "home welcome"
      "round-x game"
      "current-score game"
      "round-scores game"
      "restart game";
}

.round-x {
    grid-area: round x;
    height: 200px;
    border: 3px solid black;
    color: white;
}

.current-score {
    margin-top: 75px;
    grid-area: current-score;
    height: 200px;
    border: 1px solid red;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-top: 65px;
    font-size: 30px;
    text-align: center;
    color: white;
}

#scoring{
    font-size: 65px;
    margin-top: 0px;
    font-family: 'Luckiest Guy', cursive;
}

.restart {
    grid-area: restart;
    height: 200px;
    border: 1px solid red;
    color: white;
}

.round-scores {
    grid-area: round-scores;
    height: 200px;
    border: 1px solid red;
    color: white;
}

.home {
    grid-area: home;
    border: 3px solid black;
    color: white;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 1px 1px;
    grid-template-areas:
      "."
      "header";
    grid-area: welcome;
    border: 3px solid black;
    color: white;
    font-size: 35px;
    font-family: 'Luckiest Guy', cursive;
    justify-items: center;
    border-radius: 15px;
}

h4 {
    margin-top: 20px;
}

.header {
    grid-area: header;
    color: white;
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', cursive;
}

.game {
    grid-area: game;
    border: 1px solid red;
}

.choice-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    border-radius: 4px;
    background: #009ACD;
    font-size: 20px;
    min-width: 80px;
    transition: all .2s ease-in-out;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px #2E86C1;
    background: #00CED1;
    transform: scale(1.05);
}

.choice-letter {
    padding: 5px 25px;
    color: white;
    font-size: 35px;
    font-family: 'Luckiest Guy', cursive;
}

.choice-text {
    width: 100%;
    color: white;
    font-size: 35px;
    font-family: 'Luckiest Guy', cursive;
}

h1{
    text-align: center;
    margin: 50px;
    font-size: 65px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
}

.correct{
    background: #61B329;
}

.correct:hover{
    background:#76EE00;
}

.incorrect{
    background:#ed1c24;
}
.incorrect:hover{
    background: red;
}

.question-number{
    color: #009ACD;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}