.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.4fr;
    grid-template-rows: 200px 1150px;
    gap: 1px 1px;
    grid-template-areas:
      "home welcome"
      "round-x game";
}

.round-x {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 1px 1px;
    grid-template-areas:
      "."
      "current-score";
    grid-area: round x;
    border: 3px solid black;
}

.current-score {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas:
      "."
      "round-scores"
      "restart";
    grid-area: current-score;
    border: 1px solid red;
}

.restart {
    grid-area: restart;
    border: 1px solid red;
}

.round-scores {
    grid-area: round-scores;
    border: 1px solid red;
}

.home {
    grid-area: home;
    border: 3px solid black;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 1px 1px;
    grid-template-areas:
      "."
      "header";
    grid-area: welcome;
    border: 3px solid black;
}

.header {
    grid-area: header;
    border: 1px solid red;
}

.game {
    grid-area: game;
    border: 1px solid red;
}

.choice-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
    border-radius: 4px;
    background: #009ACD;
    font-size: 20px;
    min-width: 80px;
    transition: all .2s ease-in-out;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px #2E86C1;
    background: #00CED1;
    transform: scale(1.05);
}

.choice-letter {
    padding: 5px 25px;
    color: darkblue;
    font-size: 35px;
}

.choice-text {
    width: 100%;
    color: white;
    font-size: 35px;
}

h1{
    text-align: center;
    margin: 50px;
    font-size: 65px;
}